
node_modules/
dist/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


**/node_modules/
**/dist/
**/.angular/
**/.output/
**/.sass-cache/
**/.cache/
**/.env


docker-compose.override.yml
docker-data/
*.local
*.bak


coverage/
test-results/
.vscode/
.idea/

