<article class="bg-gray-800 p-4 rounded-lg shadow mb-8">
  <header class="flex justify-between items-center text-sm text-orange-400 mb-2">
    <span>{{ tweet.user.username }}</span>
    @if (tweet.userId === currentUserId) {
      <span class="text-green-400">• du</span>
    }
  </header>

  <p class="text-white whitespace-pre-line">{{ tweet.content }}</p>

  <footer class="flex flex-wrap gap-4 text-sm text-gray-400 mt-4 items-center">
    @if (isOwnerOrModeratorOrAdmin) {
      <button (click)="handleEdit()">✏️ Bearbeiten</button>
      <button (click)="handleDelete()">🗑️ Löschen</button>
    }

    <button
      (click)="likeClicked.emit(tweet)"
      class="cursor-pointer"
      [ngClass]="{
    'text-red-500 scale-125 transition-transform duration-200 ease-in-out ': tweet.likedByMe,
    'text-gray-400': !tweet.likedByMe
  }"
    >
      {{ tweet.likedByMe ? '❤️ You Love This' : '🤍 You Like this?' }}
    </button>

    <span>{{ tweet.likes }} Likes</span>

    <span class="ml-auto italic text-xs text-gray-500" [title]="tweet.createdAt | date:'dd.MM.yyyy, HH:mm'">
      {{ getRelativeTime(tweet.createdAt) }}
    </span>
  </footer>

  <div class="mt-4 border-t border-gray-600 pt-4">
    <button (click)="toggleComments()" class="text-sm text-orange-400 hover:underline cursor-pointer">
      {{ showComments ? 'Kommentare verbergen' : 'Kommentare anzeigen' }}
    </button>

    @if (loadingComments) {
      <div class="mt-2 text-center text-gray-400 animate-pulse">
        🔄 Kommentare werden geladen...
      </div>
    } @else {
      @if (showComments) {
        <app-comment-list
          [tweetId]="tweet.id"
          [currentUserId]="currentUserId"
          [userRoles]="userRoles"
        />
      }
    }
  </div>
</article>
